{% include 'base.html' %}
{% block body %}
	<center>
	<form action="." method="POST">
	<div class='shadow-sm' style="display: flex;flex-direction: column;padding: 20px;margin: 20px;width: 40%;justify-content: : center;align-content: center;border: solid 1px blue;margin-top: 40px;background-color: #eee">
			<h1 style="color: orange;">LOGIN</h1>
			{% csrf_token %}
			<label>Enter Your 10 Digits Mobile Number:</label>
			<input style='color: blue;height: 30px;margin-top: 20px' type="number" name="mobile"  max="10000000000">
			<button class='button button-primary' style="background-color: orange;margin-top: 20px;height:30px;color: #fff" type="submit">Login</button>
		
	</div>
	</form>
	</center>

{% endblock %}