{% include 'index.html' %}
{% block content %}
<div>
	<center>
		<div>
				<table class="table table-striped mt-5 shadow-sm" style="border-collapse:collapse; table-layout:fixed; width: 80%">
					<thead>
						<tr>
							<th style="background-color: blue;color: #fff">Customer Name</th>
							<th style="background-color: blue;color: #fff">Mobile</th>
							<th style="background-color: blue;color: #fff">Whatsapp Number</th>

						</tr>
					</thead>
					<tbody>
						{% for ls in ls %}
							<tr>
								<th>{{ ls.name }}</th>
								<th>{{ ls.mobile }}</th>
								<th>{{ ls.whatsapp_number }}</th>
							</tr>
						{% endfor %}
					</tbody>
				</table>
		
		</div>
	</center>
</div>
{% endblock %}